<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>src/*/*Bundle/Resources</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests/*/*Bundle/Tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name="KERNEL_DIR" value="tests"/>
    <server name="KERNEL_CLASS" value="TestKernel"/>
  </php>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
</phpunit>
